* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #e4ad38, #f177c2);
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 16vmin);
  grid-template-rows: minmax(20vmin, auto) repeat(5, 12vmin);
  justify-content: center;
  align-content: center;
  height: 100vh;
}

button {
  cursor: pointer;
  font-size: 6vmin;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}

.previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 5vmin;
}

.current-operand {
  color: #fff;
  font-size: 9vmin;
  max-height: 100%;
}
